<%- include('public/header',{title:currendArticle.title+" - "+title,description: currendArticle.info,keywords: currendArticle.title+','+keywords}); %>

<%- include('public/navber'); %>

<%- include('public/logo'); %>

<main id="main" class="container">

  <div class="row">
    <div class="col-md-8">
      <div id="article">
        <header class="article-header">
          <h1 class="article-title">
            <%=currendArticle && currendArticle.title || 'ERROR'%>
          </h1>
          <div class="article-info">
            <span><i class="glyphicon glyphicon-calendar"></i><samp>
                <%=time2DateStr(currendArticle.add_time)%></samp></span>
            <span><i class="glyphicon glyphicon-comment"></i><samp>
                <%=currendArticle.comment_size || 0%>条评论</samp></span>
            <span class="hidden-xs"><i class="glyphicon glyphicon-eye-open"></i><samp>
                <%=currendArticle.hits || 0%>次阅读</samp></span>
            <span><i class="glyphicon glyphicon-user"></i><samp style="text-transform:capitalize">
                <%=currendArticle.user && (currendArticle.user.nickname || currendArticle.user.u_name) || "none"%></samp></span>
          </div>
        </header>
        <main id="content" class="markdown-body">
          <%- marked(currendArticle.content) %>
        </main>
      </div>
      <%-include('public/comment')%>

    </div>

    <div class="col-md-4">

      <%-include('widgets/me')%>

      <%-include('widgets/comment')%>

      <%-include('widgets/tabs')%>

    </div>

  </div>

</main>

<%-include('public/copy')%>

<%-include('public/actions')%>
<%-include('public/info_modal')%>



<%- include('public/footer'); %>

<script>
  a = `<%=currendArticle.content%>`;
console.log()
</script>