<%- include('public/header',{title:title}); %>


<%- include('public/navber'); %>


<%- include('public/logo'); %>

<main id="main" class="container">

  <div class="row">
    <div class="col-md-8">
      <%if(part && part._id){%>
      <div class="hentry">
        <h1>分类：<span><%=part.title%></span></h1>
        <p>原创内容，转载还请注明</p>
      </div>
      <%}%>
      <% articles.forEach(function(article){ %>
      <article class="article">
        <main class="content row">
          <div class="col-md-4">
            <div class="img">
              <img height="145px" src="<%= article.a_img || 'https://acg.moedragon.com/api.php?size=bmiddle&'+(Math.random()*10000000| 0) %>"
                alt="">
            </div>
          </div>
          <div class="detail col-md-8">
            <div class="detail-title">
              <span class="part hidden-xs"><a href="/part/<%=article.part && article.part.url || '/'%>">
                  <%=article.part && article.part.title || "未分类"%></a></span>
              <h3 class="title"><a href="/article/<%=article._id%>">
                  <%=article.title%></a></h3>
            </div>
            <div class="detail-content">
              <p>
                <%=article.info%>
              </p>
            </div>
          </div>
        </main>
        <footer class="info">
          <span><i class="glyphicon glyphicon-user"></i><samp style="text-transform:capitalize">
              <%=article.user&&article.user.u_name||"none"%></samp></span>
          <span><i class="glyphicon glyphicon-calendar"></i><samp>
              <%=time2DateStr(article.add_time)%></samp></span>
          <span><i class="glyphicon glyphicon-comment"></i><samp>
              <%=article.comment_size || 0%>条评论</samp></span>
          <span class="hidden-xs"><i class="glyphicon glyphicon-eye-open"></i><samp>
              <%=article.hits || 0%>次阅读</samp></span>
        </footer>
      </article>
      <% }); %>

      <%-include('public/navigation')%>

    </div>

    <div class="col-md-4">
      <div class="widget auto">
        <header class="bg"></header>
        <main class="info">
          <img src="http://q2.qlogo.cn/headimg_dl?dst_uin=1450941858&spec=100" width="80" height="80" alt="">
          <p>咦？我是谁？我为什么会在这？<a href="">[关于]</a></p>
        </main>
      </div>

      <%-include('widgets/comment')%>

      <%-include('widgets/tabs')%>

    </div>

  </div>

</main>

<footer id="copyandinfo">
  <p>&copy; 2018 <a href="">不才、blog</a>. ALL RIGHTS RESERVED. | 本站已运行<span>1111天07小时45分钟44秒</span></p>
</footer>

<div id="actions">
  <div class="backtop black">
    <i class="glyphicon glyphicon-chevron-up"></i>
  </div>
  <div class="search black">
    <i class="glyphicon glyphicon-search"></i>
    <form class="search-form">
      <input type="text" name="search" placeholder="请输入搜索内容">
    </form>
  </div>
</div>

<%- include('public/footer'); %>