<%if(subhead){%>
<%- include('public/header',{title:subhead+" - "+title}); %>
<%}else{%>
<%- include('public/header'); %>
<%}%>
  
<%- include('public/navber'); %>

<main id="user" class="container">
  <div class="informationCard">
    <img src="/img/user_img.gif" alt="用户头像" class="user_img">
    <p class="user_name">用户昵称</p>
    <p class="user_info">简介</p>
    <!-- followed 关注 unfollowed 已关注 unfollow 取消关注-->
    <button class="btn unfollowed">已关注</button>
  </div>
  <div class="userinfoMain">
    <ul class="userinfoNavs">
      <li class="userinfoNavs-item active">资料</li>
      <li class="userinfoNavs-item">消息<i class="msgnum">45</i></li>
      <li class="userinfoNavs-item">
        评论
        <i class="msgnum">45</i>
      </li>
      <li class="userinfoNavs-item">粉丝</li>
      <li class="userinfoNavs-item">关注</li>
    </ul>
    <div class="userinfoList">
      <div class="userinfo-item active">
        <header>
          <h2>基本信息</h2>
        </header>
        <main>
          <div class="info-item">
            <label class="item-label">昵称</label>
            <p>bucai</p>
          </div>
          <div class="info-item">
            <label class="item-label">账户</label>
            <p>bucai</p>
          </div>
          <div class="info-item">
            <label class="item-label">邮箱</label>
            <p>1450941858@qq.com</p>
          </div>
          <div class="info-item">
            <label class="item-label">网站</label>
            <p></p>
          </div>
          <div class="info-item">
            <label class="item-label">个人描述</label>
            <p></p>
          </div>
        </main>
      </div>
      <div class="userinfo-item">
        <div class="messageList">
          <div class="messageList-item">
            <div class="message-title">
              <p>系统消息</p>
              <span>2019年2月10日 19:19</span>
            </div>
            <div class="message-content">
              @不才鸭 :java用的什么软件？jsp就
            </div>
          </div>
          <div class="messageList-item">
            <div class="message-title">
              <p>系统消息</p>
              <span>2019年2月10日 19:19</span>
            </div>
            <div class="message-content">
              @不才鸭 :java用的什么软件？jsp就
            </div>
          </div>
        </div>
      </div>
      <div class="userinfo-item">
        <div class="messageList">
          <div class="messageList-item">
            <div class="message-title">
              <p>回复了文章
                <a href="/">文章1</a>
              </p>
              <span>2019年2月10日 19:19</span>
            </div>
            <div class="message-content">
              @不才鸭 :java用的什么软件？jsp就
            </div>
          </div>

        </div>
      </div>
      <div class="userinfo-item">
        <div class="focusList">
          <div class="focusList-item">
            <img class="user_img"
              src="http://img.twenq.com/upload/user/avatar/11E68E08859F3D3ED8123CA35AB08B6F.jpg?v=1543660509203"
              alt="头像">
            <div class="u_info">
              <p class="u_title">昵称</p>
              <p class="u_info_">简介</p>
            </div>
            <button class="btn unfollowed" data-focus_id="123">已关注</button>
          </div>
          <div class="focusList-item">
            <img class="user_img"
              src="http://img.twenq.com/upload/user/avatar/11E68E08859F3D3ED8123CA35AB08B6F.jpg?v=1543660509203"
              alt="头像">
            <div class="u_info">
              <p class="u_title">昵称</p>
              <p class="u_info_">简介</p>
            </div>
            <button class="btn unfollowed" data-focus_id="123">已关注</button>
          </div>
          <div class="focusList-item">
            <img class="user_img"
              src="http://img.twenq.com/upload/user/avatar/11E68E08859F3D3ED8123CA35AB08B6F.jpg?v=1543660509203"
              alt="头像">
            <div class="u_info">
              <p class="u_title">昵称</p>
              <p class="u_info_">简介</p>
            </div>
            <button class="btn unfollowed" data-focus_id="123">已关注</button>
          </div>
        </div>
      </div>
      <div class="userinfo-item">
        <div class="focusList">
          <div class="focusList-item">
            <img class="user_img"
              src="http://img.twenq.com/upload/user/avatar/11E68E08859F3D3ED8123CA35AB08B6F.jpg?v=1543660509203"
              alt="头像">
            <div class="u_info">
              <p class="u_title">昵称</p>
              <p class="u_info_">简介</p>
            </div>
            <button class="btn unfollowed" data-focus_id="123">已关注</button>
          </div>
          <div class="focusList-item">
            <img class="user_img"
              src="http://img.twenq.com/upload/user/avatar/11E68E08859F3D3ED8123CA35AB08B6F.jpg?v=1543660509203"
              alt="头像">
            <div class="u_info">
              <p class="u_title">昵称</p>
              <p class="u_info_">简介</p>
            </div>
            <button class="btn unfollowed" data-focus_id="123">已关注</button>
          </div>
          <div class="focusList-item">
            <img class="user_img"
              src="http://img.twenq.com/upload/user/avatar/11E68E08859F3D3ED8123CA35AB08B6F.jpg?v=1543660509203"
              alt="头像">
            <div class="u_info">
              <p class="u_title">昵称</p>
              <p class="u_info_">简介</p>
            </div>
            <button class="btn unfollowed" data-focus_id="123">已关注</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%-include('public/copy')%>

<%-include('public/actions')%>


<%- include('public/footer'); %>