<div class="comments">

  <div id="commentContainer">
    <div class="comments-form" id="commentForm">
      <h4>发表评论</h4>
      <!-- <p>电子邮件地址不会被公开。必填项已用 * 标注</p> -->
      <%if(user){%>
      <form action="/api/comment" method="post" id="comment_o">

        <input type="hidden" name="a_id" value="<%=currendArticle._id%>">

        <input type="hidden" name="r_u_id" id="r_u_id" value="">

        <div class="form-group">
          <textarea name="content" rows="5" placeholder="来都来了，不留下点东西吗，XIAOLAODI (。・∀・)ノ"
            class="form-control form-textarea"></textarea>
        </div>
        <!-- <div class="form-group">
          <label class="sr-only">昵称</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </div>
            <input type="text" class="form-control" placeholder="昵称">
            <span class="form-control-feedback required">*</span>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only">邮箱</label>
          <div class="input-group">
            <div class="input-group-addon">
              @
            </div>
            <input type="text" class="form-control" placeholder="邮箱">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only">链接</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-link"></i>
            </div>
            <input type="text" class="form-control" placeholder="链接">
          </div>
        </div> -->
        <button type="submit" class="btn btn-block form-btn">提交</button>
      </form>
      <%}else{%>
      <form action="/api/login" method="post" class="form-inline" id="comment_login" style="margin:15px 0;">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </div>
            <input type="text" name="u_login" class="form-control" placeholder="昵称或邮箱">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-eye-close"></i>
            </div>
            <input type="password" name="u_pwd" class="form-control" placeholder="密码">
          </div>
        </div>

        <button type="submit" class="btn btn-default">登 陆</button>

        <div class="form-group">
          <p class="form-control-static alert-info" style="padding:6px;margin-left: 8px;">请先登陆</p>
        </div>

      </form>
      <%}%>
    </div>

  </div>

  <main>
    <ol class="comment-list">
      <%a_idToComments.forEach(function(comment){%>
      <%if(comment.is_scope){%>
      <li class="comment-item">
        <div class="user">
          <div class="user-img">
            <a href="/user/<%=comment.user && comment.user._id%>">
              <img src="<%=comment.user&&comment.user.u_img || 'http://q1.qlogo.cn/g?b=qq&nk=331526028&s=100'%>" alt="">
            </a>
          </div>
          <div class="user-detail">
            <p class="user-name">
              <a href="/user/<%=comment.user && comment.user._id%>">
                <%=comment.user && comment.user.u_name%>
              </a>
            </p>
            <p class="user-content">
              <%=comment.c_time%>
            </p>
          </div>
        </div>
        <div class="comment-content">
          <%if(comment.p_user){%>
          <span class="at">@
            <%=comment.p_user.u_name%></span>
          <%}%>
              <%=Buffer.from(comment.content,'base64').toString()%>
        </div>
        <div class="comment-action" data-u_id="<%=comment.user && comment.user._id%>">
          回复
        </div>
      </li>
      <%}%>
      <%});%>

      </ol>
      </main>

      <!-- <nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav> -->
    </div>