<div id="header">

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="nav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-static-top">



          <li><a href="/">首页 <span class="sr-only">(current)</span></a></li>

          <% navs && navs.forEach(function(nav){ %>

          <%if(nav.is_part){%>
          <li>
            <a href="/part/<%=nav.url%>">
              <%=nav.title%></a>
          </li>
          <%} else {%>
          <li>
            <a href="<%=nav.url%>">
              <%=nav.title%></a>
          </li>
          <% } %>
          <%});%>
        </ul>
      </div>

      <div class="navbar-me-right">
        <% if(!user){ %>
        <a href="/login">Login</a>
        <a href="/reg">Regist</a>
        <% } else { %>
        <div id="you">
          <div class="u_user">
            <img src="<%= user.u_img || 'http://q2.qlogo.cn/headimg_dl?dst_uin=1450941858&spec=100' %>" alt="">
            <span class="u_name">
              <%= user.u_name %></span>
          </div>
          <div class="u_action">
            <div>
              <p><a href=""><span class="glyphicon glyphicon-comment"></span>消息</a></p>
              <p><a href="">
                  <span class="glyphicon glyphicon-user"></span>个人资料</a></p>
              <p><a href="">
                  <span class="glyphicon glyphicon-off"></span>注销</a></p>
            </div>
          </div>
        </div>
        <% } %>
      </div>



    </nav>
  </div>

</div>