<nav aria-label="Page navigation" class="text-center">
  <ul class="pagination">

    <% if(page_index>0){ %>
    <li>
      <a href="<%=part_url||'/page'%>/<%=page_index%>" aria-label="Previous">
        <!-- <span aria-hidden="true">&laquo;</span> -->
        <span aria-hidden="true">&lt;</span>
      </a>
    </li>
    <% } %>


    <!-- <%=page_size%> -->
    <!-- <%=page_index%> -->

    <!-- <% for(var i=page_index;i>=0;i--){ %>
            <li class="<%=i==page_index && 'active' || ''%>"><a href="/page/<%=i+1%>">
                <%=i+1%></a></li>
            <% } %> -->


    <% for(var i=pag_nav_o.stat;i<pag_nav_o.end;i++){ %>

    <li class="<%=i==page_index && 'active' || ''%>"><a href="<%=part_url||'/page'%>/<%=i+1%>">
        <%=i+1%></a></li>

    <% } %>

    <!-- <% for(var i=page_index-5<0?0:page_index-5;i<page_size;i++){ %>
            <li class="<%=i==page_index && 'active' || ''%>"><a href="/page/<%=i+1%>">
                <%=i+1%></a></li>
            <% } %> -->


    <% if(page_index < page_size - 1){ %>
    <li>
      <a href="<%=part_url||'/page'%>/<%=page_index + 2%>" aria-label="Next">
        <!-- <span aria-hidden="true">&raquo;	&lt;</span> -->
        <span aria-hidden="true">&gt;</span>
      </a>
    </li>
    <%}%>

  </ul>
</nav>